<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>

  <!-- css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.css">

  <!-- js -->
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>

  <!-- plain javascript -->
  <section class="section container">
  </section>

  <!-- vue -->
  <section id="app" class="section container">
    <h1 class="title">{{ name }} says, {{ message }}</h1>
    <label>Name</label>
    <input type="text" class="input" v-model="name" />
    <label>Message</label>
    <input type="text" class="input" v-model="message" />
  </section>

  <!-- our javascript -->
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        name: 'Jeffry',
        message: 'Hello World!',
      },
    });
  </script>
</body>
</html>